@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

html, 
body {
    padding: 0;
    margin: 0;
}

.App {
    background-color: #000;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 0px;
}

.contenedor-contador {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid  #BC6FF1;
    width: 400px;
    max-height: 400px;
    padding-bottom: 35px;
    border-radius: 50px;
    background: linear-gradient(315deg, #000, #000);
    box-shadow:  0 0 5px #52057B,
                 0 0 20px #52057B,
                 0 0 60px #52057B,
                 0 0 120px #52057B;
}

p.mensaje {
    font-family: 'Allerta Stencil', sans-serif;
    color: #fff;
}

p.mensaje:hover {
    -webkit-transform:scale(1.3);transform:scale(1.3);
    font-size: 20px;
    color: #892CDC;
}

@media (max-width: 375px){
    header {
        width: 30px;
    }

    .contenedor-contador {
        width: 90%;
    }
}

